<div class="">
    <h2 class="m-auto">Genres</h2>
    <h4 class="m-auto">Select by genre</h4>
</div>
<div class="loader" *ngIf="categories == null">Please wait</div>
<div class="card-container">
    <app-category-card *ngFor="let genre of categories | async" [category]=genre>
    </app-category-card>
</div>
<div class="trends-container">
    <h2>Latest trends</h2>
    <p>What do you want to do next with your app?</p>
</div>
<div class="card-container">
    <app-movie-card *ngFor="let movie of trends " [movie]=movie>
    </app-movie-card>
</div>