<!-- Toolbar -->
<div class="navbar toolbar" role="banner">

    <span *ngIf="user">Welcome {{user.username}}</span>
    <span *ngIf="!user">Welcome </span>
    <div class="spacer"></div>
    <ul class="inline-list">
        <li><a routerLink="/home" routerLinkActive="active" class="nav-link">Explorer</a></li>
        <li><a routerLink="/favorites" routerLinkActive="active" class="nav-link">Favorites</a></li>
        <li><a routerLink="/profile" routerLinkActive="active" class="nav-link">Profile</a></li>
    </ul>

</div>